body {
    width: 100%;
}

.form > label {
    width: 12em;
    height: 2em;
}

.form > input {
    width: 24em;
    height: 2em;
}
.form {
    margin: 20px;
    display:flex;
    justify-content: flex-start;
}

.form-child {
    margin: 1em;
}

.button {
    padding-right: 1em;
    width: 12em;
    height: 2em;
}

p {
    width: 100%
}

ul, li {
    max-width: 100%;
    word-wrap: break-word;
  }